.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card_content {
  display: flex;
  gap: 50px;
  padding: 30px;
}
img {
  max-width: 500px;
}
.card_contant_description {
}
.mdc-button__label {
}
mat-card-actions {
  display: flex;
  flex-direction: column;
  button {
    width: 100%;
    margin-top: 10px;
  }
}
