<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <span>Angular Shop</span>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button mat-flat-button routerLink="base">Главная</button>
      <button mat-flat-button routerLink="products">Товары</button>
      <button mat-flat-button routerLink="busket">Корзина</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
